<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <p class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Contact</p>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Contact</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <p class="text-primary text-uppercase" style="letter-spacing: 5px;">Contact Us</p>
        </div>
        <div class="row px-3 pb-2">

            <div class="col-sm-4 text-center mb-3">
                <i class="fa fa-2x fa-map-marker-alt mb-3 text-primary"></i>
                <h4 class="font-weight-bold">Address</h4>
                <p>Narimanov Street, Sumgait, Azerbaijan</p>
                <p>Nizami Street, Baku, Azerbaijan</p>
                <p>Fulton Street, New York, USA</p>
                <p>Tothill Street, London, England</p>
                <p>20 Yanvar Street, Khirdalan, Azerbaijan</p>
                <p>Qara Qarayev Street, Ganja, Azerbaijan</p>

            </div>
            <div class="col-sm-4 text-center mb-3">
                <i class="fa fa-2x fa-phone-alt mb-3 text-primary"></i>
                <h4 class="font-weight-bold">Phone</h4>
                <p>&#x2B;994 55 000 00 00</p>
                <p>&#x2B;994 55 000 00 00</p>
            </div>
            <div class="col-sm-4 text-center mb-3">
                <i class="far fa-2x fa-envelope mb-3 text-primary"></i>
                <h4 class="font-weight-bold">Email</h4>
                <p>CaféCozybaku@gmail.com</p>
                <p>CaféCozyengland@gmail.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pb-5">
                <iframe style="width: 100%; height: 443px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-md-6 pb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form method="post" action="/home/contact">
                        <div class="control-group">
                            <input type="text" class="form-control bg-transparent p-4" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" data-val="true" data-val-required="The Name field is required." name="message.Name" value="" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control bg-transparent p-4" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" name="message.Email" value="" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control bg-transparent p-4" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" name="message.Subject" value="" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control bg-transparent py-3 px-4" rows="5" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message" data-val="true" data-val-maxlength="The field Body must be a string or array type with a maximum length of &#x27;150&#x27;." data-val-maxlength-max="150" data-val-required="The Body field is required." maxlength="150" name="message.Body">
</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary font-weight-bold py-3 px-5" type="submit" id="sendMessageButton">
                                Send
                                Message
                            </button>
                        </div>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8IOjpS2yV11FjeNn0v143McM92FKt7PDlOn9kw0vP4pr_K_2PtKhdVlEV2WkQhAHNrWTwV8mHLb7NquQJOXW55rONInixn6INs4QbRyo6dfLaR_DZhw6aohA4b4Hj9lwZB7jjWmQvONA4PApH7F1zNA" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->