<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CaféCozy Coffee Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/uploads/logo3.png" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@400;500;700&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a class="navbar-brand px-lg-4 m-0" asp-controller="home" asp-action="Index">
                <p class="m-0 display-4 text-uppercase text-white">CaféCozy</p>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto p-4">
                    <a class="nav-item nav-link" asp-controller="home" asp-action="Index">Ana səhifə</a>
                    <a class="nav-item nav-link" asp-controller="Menu" asp-action="Index">Menu</a>
                    <a class="nav-item nav-link" asp-controller="Reservation" asp-action="Index">Rezervasyon</a>
                    <a class="nav-item nav-link" asp-controller="About" asp-action="Index">Haqqimizda</a>
                    <a class="nav-item nav-link" asp-controller="Contact" asp-action="Index">Əlaqə</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
            @RenderBody()
      <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-5 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4 d-flex justify-content-between">
            <div class="col-lg-4 col-md-4 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Bizimlə əlaqə</h4>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Azadlıq küçəsi, Baki, Azərbaycan</p>
                <p><i class="fa fa-phone-alt mr-2"></i>&#x2B;994 55 888 88 88</p>
                <p class="m-0"><i class="fa fa-envelope mr-2"></i>CafeCozy@gmail.com</p>
            </div>
            <div class="col-lg-4 col-md-4 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Bizi izlə</h4>
                <p>Bizi sosial mediada izləyin</p>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://twitter.com"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://facebook.com"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://linkedin.com"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square" href="https://instagram.com"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Açıq Saatlar</h4>
                <div>
                    <p class="text-white text-uppercase">Bazar ertəsi - cümə</p>
                    <p>12.00 - 22.00 </p>
                    <p class="text-white text-uppercase">Şənbə - Bazar</p>
                    <p>10.00 PM - 23.00 </p>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center text-white border-top mt-4 py-4 px-sm-3 px-md-5"
            style="border-color: rgba(256, 256, 256, .1) !important;">
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
        integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/assets/lib/easing/easing.min.js"></script>
    <script src="~/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="~/assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/assets/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/assets/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/assets/mail/contact.js"></script>
    <script src="~/assets/js/main.js"></script>

    <!-- Visual Studio Browser Link -->
    <script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData"
        data-requestId="96a3bd71df9b4f48a6c48d20b70eaa4f" data-requestMappingFromServer="false"
        data-connectUrl="http://localhost:62995/51e403f4ad764db3a90594512a653841/browserLink"></script>
    <!-- End Browser Link -->

    <!-- <script src="/_framework/aspnetcore-browser-refresh.js"></script> -->
</body>

</html>
