    <!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="blog-carousel" class="carousel slide overlay-bottom" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="./uploads/sliders/coffe-slider3.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <p class="text-primary font-weight-medium m-0">
                        "Hər qəhvə bir macəradır, hər damla bir
                        hekayədir"
                    </p>
                    <p class="display-1 text-white m-0">CaféCozy</p>
                    <p class="text-white m-0">1999-cu ildən</p>
                </div>
            </div>
            <div class="carousel-item ">
                <img class="w-100" src="./uploads/sliders/coffe-slider.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <p class="text-primary font-weight-medium m-0">"Hər qurtumun bir hekayə danışdığı yer"</p>
                    <p class="display-1 text-white m-0">CaféCozy</p>
                    <p class="text-white m-0">1999-cu ildən</p>
                </div>
            </div>


        </div>
        <a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <p class="text-primary text-uppercase" style="letter-spacing: 5px;">BİZİM XİDMƏTLƏRİMİZ</p>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="./uploads/services/service-1.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h5><i class="fa fa-truck service-icon"></i>Ən Sürətli Çatdırılma</h5>
                        <p class="m-0">Nadir qəhvələr. Xüsusi içkilər və aksesuarlar. Hamısı qapınıza çatdırılır</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="./uploads/services/service-2.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h5><i class="fa fa-coffee service-icon"></i>Ən Keyfiyyətli Qəhvə</h5>
                        <p class="m-0">
                            Evinizdə sevimli CaféCozy® qəhvənizdən həzz alın. İstər özünüzə vaxt
                            ayırırsınız, istərsə də dostlarınıza xoş təəssürat bəxş edərsiniz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="/uploads/services/service-3.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h5><i class="fa fa-award service-icon"></i>Ən Keyfiyyətli Qəhvə</h5>
                        <p class="m-0">
                            Hamımızın (sizin də daxil olmaqla) gözlədiyi üstün dadı yoxlamaq
                            üçün gündə 1000-dən çox stəkan qəhvə dadırıq.
                            Qəhvənin bir partiyası təsdiqlənməmişdən əvvəl ən azı üç dəfə dadına baxılır,
                            ona görə də hər dəfə CaféCozy qəhvəsindən bir qurtum içdiyiniz zaman bu, sevəcəyiniz bir
                            qurtumdur.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="/uploads/services/service-4.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h5>
                            <i class="fa fa-table service-icon"></i>
                            Onlayn masa rezervasiyası
                        </h5>
                        <p class="m-0">
                            Telefon, planşet və ya noutbukda olmağınızdan asılı olmayaraq,
                            CaféCozy-da rezervasiyanız əlinizin altındadır. Menyunu araşdırın,
                            sifarişinizi fərdiləşdirin və sizə ən uyğun filial yerini tapın.
                            Onlayn rezervasiya edin, dostlarınızla yaxşı vaxt keçirərkən endirimli qiymətlərdən həzz
                            alın
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End  -->
<!-- Design -->
<div class="offer container-fluid my-5 py-5 text-center position-relative overlay-top overlay-bottom">
    <div class="container py-5"></div>
</div>
<!-- Design -->
<!-- Menu Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <p class="text-primary text-uppercase" style="letter-spacing: 5px;">Menu & QİYMƏTLƏR</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mb-5">Hot Coffee</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-1.jpg" alt="">
                        <h2 class="menu-price">₼3</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Americano</h4>
                        <p class="m-0">15 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-2.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Cappuccino</h4>
                        <p class="m-0">140 calories, 12g sugar, 5g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-3.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Mocha</h4>
                        <p class="m-0">370 calories, 35g sugar, 15g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-7.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Misto</h4>
                        <p class="m-0">110 calories, 10g sugar, 4g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-8.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caramel Macchiato</h4>
                        <p class="m-0">250 calories, 33g sugar, 7g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-9.jpg" alt="">
                        <h2 class="menu-price">₼3</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Espresso</h4>
                        <p class="m-0">10 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-10.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Latte</h4>
                        <p class="m-0">190 calories, 18g sugar, 7g fat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="mb-5">Cold Coffee</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-4.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Caff&#xE8; Americano</h4>
                        <p class="m-0">15 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-5.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Caff&#xE8; Latte</h4>
                        <p class="m-0">130 calories, 11g sugar, 4.5g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-6.jpg" alt="">
                        <h2 class="menu-price">₼6</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Caramel Macchiato</h4>
                        <p class="m-0">250 calories, 34g sugar, 7g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-11.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Espresso</h4>
                        <p class="m-0">10 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-12.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Flat White</h4>
                        <p class="m-0">150 calories, 11g sugar, 8g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-13.jpg" alt="">
                        <h2 class="menu-price">₼6</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Shaken Espresso</h4>
                        <p class="m-0">100 calories, 14g sugar, 2g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-14.jpg" alt="">
                        <h2 class="menu-price">₼6</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced White Chocolate Mocha</h4>
                        <p class="m-0">420 calories, 48g sugar, 20g fat</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 d-flex justify-content-center">
                <a class="btn btn-primary font-weight-bold py-2 px-4 mt-2" href="/menu">Tam Menyu</a>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->
<!-- Design -->
<div class="offer container-fluid my-5 py-5 text-center position-relative overlay-top overlay-bottom">
    <div class="container py-5"></div>
</div>
<!-- Design -->
<!-- Reservation Start -->
<div class="container-fluid my-5">
    <div class="container">
        <div class="reservation position-relative overlay-top overlay-bottom">
            <div class="row align-items-center">
                <div class="col-lg-6 my-5 my-lg-0">
                    <div class="p-5">
                        <div class="mb-4">
                            <h1 class="display-3 text-primary">30% OFF</h1>
                            <h1 class="text-white">Onlayn rezervasiya üçün</h1>
                        </div>
                        <p class="text-white">
                            Telefon, planşet və ya noutbukda olmağınızdan asılı olmayaraq,
                            CaféCozy-da rezervasiyanız əlinizin altındadır. Menyunu araşdırın, sifarişinizi
                            fərdiləşdirin və sizə ən uyğun filial yerini tapın.
                            Onlayn rezervasiya edin, dostlarınızla yaxşı vaxt keçirərkən endirimli qiymətlərdən həzz
                            alın
                        </p>
                        <ul class="list-inline text-white m-0">
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Endirimdən yararlanın</li>
                            <li class="py-2">
                                <i class="fa fa-check text-primary mr-3"></i>Sifariş edin və qabaqcadan
                                ödəyin
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">
                        <h1 class="text-white mb-4 mt-5">Masanızı rezerv edin</h1>
                        <form class="mb-5" method="post" action="/">
                            <div class="form-group">
                                <input type="text" name="name"
                                       class="form-control bg-transparent border-primary p-4" placeholder="Ad"
                                       required="required" data-val="true"
                                       data-val-maxlength="The field Name must be a string or array type with a maximum length of &#x27;50&#x27;."
                                       data-val-maxlength-max="50" data-val-required="The Name field is required."
                                       id="reservation_Name" maxlength="50" value="" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="reservation.Name"
                                      data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" name="email"
                                       class="form-control bg-transparent border-primary p-4"
                                       placeholder="Telefon nömrəsi" id="email" required="required" data-val="true"
                                       data-val-required="The Email field is required." value="" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="reservation.Email"
                                      data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="datetime" id="date" name="date"
                                           class="form-control bg-transparent border-primary p-4 datetimepicker-input"
                                           placeholder="Tarix" data-target="#date" data-toggle="datetimepicker"
                                           data-val="true" data-val-required="The Date field is required." value="" />
                                    <span class="text-danger field-validation-valid"
                                          data-valmsg-for="reservation.Date" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="time" id="time" data-target-input="nearest">
                                    <input type="datetime" id="time" name="time"
                                           class="form-control bg-transparent border-primary p-4 datetimepicker-input"
                                           placeholder="Vaxt" data-target="#time" data-toggle="datetimepicker"
                                           data-val="true" data-val-required="The Time field is required." value="" />
                                    <span class="text-danger field-validation-valid"
                                          data-valmsg-for="reservation.Time" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">
                                    İndi
                                    rezerv edin
                                </button>
                            </div>
                            <input name="__RequestVerificationToken" type="hidden"
                                   value="CfDJ8IOjpS2yV11FjeNn0v143MfDYXiybOFZ5xWVpITkUtmWeWuxIHf9tNK5BWS-QdFqBwe_eRmSR0PLK-H7tgvzKBXS7hcs9mDetMD8FJLEaNOgQzAb95gMeKVB0mGU3QhcfbcyOfP-K2NRMrrqyI9SzGM" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservation End -->