<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <p class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Menu</p>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href="">Ana səhifə</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Menu</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Drinks Menu Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <p class="text-primary text-uppercase" style="letter-spacing: 5px;">Menu & QİYMƏTLƏR</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mb-5">Hot Coffee</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-1.jpg" alt="">
                        <h2 class="menu-price">₼3</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Americano</h4>
                        <p class="m-0">15 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-2.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Cappuccino</h4>
                        <p class="m-0">140 calories, 12g sugar, 5g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-3.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Mocha</h4>
                        <p class="m-0">370 calories, 35g sugar, 15g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-7.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Misto</h4>
                        <p class="m-0">110 calories, 10g sugar, 4g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-8.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caramel Macchiato</h4>
                        <p class="m-0">250 calories, 33g sugar, 7g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-9.jpg" alt="">
                        <h2 class="menu-price">₼3</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Espresso</h4>
                        <p class="m-0">10 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-10.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Caff&#xE8; Latte</h4>
                        <p class="m-0">190 calories, 18g sugar, 7g fat</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <h1 class="mb-5">Cold Coffee</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-4.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Caff&#xE8; Americano</h4>
                        <p class="m-0">15 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-5.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Caff&#xE8; Latte</h4>
                        <p class="m-0">130 calories, 11g sugar, 4.5g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-6.jpg" alt="">
                        <h2 class="menu-price">₼6</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Caramel Macchiato</h4>
                        <p class="m-0">250 calories, 34g sugar, 7g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-11.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Espresso</h4>
                        <p class="m-0">10 calories, 0g sugar, 0g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-12.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Flat White</h4>
                        <p class="m-0">150 calories, 11g sugar, 8g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-13.jpg" alt="">
                        <h2 class="menu-price">₼6</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced Shaken Espresso</h4>
                        <p class="m-0">100 calories, 14g sugar, 2g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-14.jpg" alt="">
                        <h2 class="menu-price">₼6</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Iced White Chocolate Mocha</h4>
                        <p class="m-0">420 calories, 48g sugar, 20g fat</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <h1 class="mb-5">Bakery</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-15.jpg" alt="">
                        <h2 class="menu-price">₼3</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Everything Bagel</h4>
                        <p class="m-0">290 calories, 5g sugar, 3g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-16.jpg" alt="">
                        <h2 class="menu-price">₼1</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Blueberry Muffin</h4>
                        <p class="m-0">330 calories, 29g sugar, 14g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-17.jpg" alt="">
                        <h2 class="menu-price">₼1</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Chocolate Chip Cookie</h4>
                        <p class="m-0">360 calories, 31g sugar, 18g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-18.jpg" alt="">
                        <h2 class="menu-price">₼2</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Chocolate Croissant</h4>
                        <p class="m-0">300 calories, 11g sugar, 18g fat</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <h1 class="mb-5">Hot Breakfast</h1>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-19.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Bacon, Sausage &amp; Egg Wrap</h4>
                        <p class="m-0">640 calories, 2g sugar, 33g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-20.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Turkey Bacon, Cheddar &amp; Egg White Sandwich</h4>
                        <p class="m-0">230 calories, 2g sugar, 5g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-21.jpg" alt="">
                        <h2 class="menu-price">₼5</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Spinach, Feta &amp; Egg White Wrap</h4>
                        <p class="m-0">290 calories, 5g sugar, 8g fat</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/uploads/products/menu-22.jpg" alt="">
                        <h2 class="menu-price">₼4</h2>
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Double-Smoked Bacon, Cheddar &amp; Egg Sandwich</h4>
                        <p class="m-0">500 calories, 8g sugar, 27g fat</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>